<div class="container form">
    <h3 class="text-primary">{{ title }}</h3>
    <p class="text-muted">Fields marked with <span class="text-danger">*</span> are required</p>

    <form [formGroup]="user">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="firstname">Firstname <span class="text-danger">*</span></label>
                <input autocomplete="off" class="form-control" formControlName="firstname" id="firstname" placeholder="Enter firstname"
                       type="text">
            </div>
            <div class="col-md-6 form-group">
                <label for="lastname">Lastname <span class="text-danger">*</span></label>
                <input autocomplete="off" class="form-control" formControlName="lastname" id="lastname" placeholder="Enter lastname"
                       type="text">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 form-group">
                <label for="email">Email <span class="text-danger">*</span></label>
                <input autocomplete="off" class="form-control" formControlName="email" id="email" placeholder="Enter email"
                       type="email">
            </div>
            <div class="col-md-6 mt-6 form-group">
                <label for="nickname">Nickname (Optional)</label>
                <input autocomplete="off" class="form-control" formControlName="nickname" id="nickname" placeholder="Enter nickname"
                       type="text">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 form-group">
                <label for="password">Password <span class="text-danger">*</span></label>
                <input autocomplete="off" class="form-control" formControlName="password" id="password" placeholder="Enter password"
                       type="password">
            </div>
            <div class="col-md-6 mt-6 form-group">
                <label for="password_confirmation">Confirm password <span class="text-danger">*</span></label>
                <input autocomplete="off" class="form-control" formControlName="password_confirmation"
                       id="password_confirmation" placeholder="Confirm your password" type="password">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-6 form-group">
                <label for="date_of_birth">Date of birth <span class="text-danger">*</span></label>
                <input class="form-control" formControlName="date_of_birth" id="date_of_birth" type="date">
            </div>
            <div class="col-md-6 mt-6 form-group">
                <label for="avatar">Avatar (Optional)</label>
                <input autocomplete="off" class="form-control" formControlName="avatar" id="avatar" placeholder="Upload image here"
                       type="file">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 form-group">
                <label for="about_me">About me (Optional)</label>
                <textarea class="form-control" formControlName="about_me" id="about_me" rows="3"
                          style="resize: none"></textarea>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12 form-group">
                <button (click)="onRegister()" class="btn btn-primary" type="submit">{{ btnText }}</button>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-md-12 form-group d-flex justify-content-center">
                Already have an account?&nbsp;
                <a class="link" routerLink="/login" type="submit">Sign in</a>
            </div>
        </div>
    </form>
</div>
