* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: #B8DAFF;
    width: 12rem;
    gap: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-content: center;
}

.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    gap: 24px;

    h1 {
        font-size: 10rem;
        color: #f44336;
    }

    p {
        font-size: 2rem;
        color: #005cbb;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
}
