<div class="container">
    <h1>Welcome to the home page</h1>
    <div class="mt-5 list">
        <div class="row">
            <ng-container *ngFor="let user of users">
                <div class="col-sm-3 mb-4">
                    <div class="card">
                        <div class="img">
                            <img alt="{{user.firstname}} {{user.lastname}}" src="{{user.avatar}}" style="width: 100%">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
                            <p class="d-flex" style="gap: 7px">
                                <a class="btn btn-info" routerLink="/profile/{{user.id}}">Profile</a>
                                <a *ngIf="!isFollowing" class="btn btn-warning" (click)="onFollow(user.id)">Follow</a>
                                <a *ngIf="isFollowing" class="btn btn-danger" (click)="onFollow(user.id)">Cancel</a>
                            </p>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
