$lightBlue: #B8DAFF;
$danger: #F44336;
$primaryColor: #005CBB;
$background: #DEF3FF;

$side: #2388FF;
$textSuccess: #0A3622;
$bgSuccess: #D1E7DD;
$borderSuccess: #A3CFBB;
$textInfo: #055160;
$bgInfo: #CFF4FC;
$borderInfo: #9EEAF9;
$textWarning: #664D03;
$bgWarning: #fff3cd;
$borderWarning: #FFE69C;
$textDanger: #58151C;
$bgDanger: #F8D7DA;
$borderDanger: #F1AEB5;
$textPrimary: #052C65;
$bgPrimary: #CFE2FF;
$borderPrimary: #9EC5FE;
$dark: rgb(33,37,41);
$white: #fefefe;
