<div class="container">
    <div class="p-5 bg-primary text-white header">
    </div>
    <div class="row mt-3">
        <div class="col-md-6 picture-infos">
            <img src="profile.png" class="rounded-circle img-thumbnail" alt="Profile Picture" width="150" height="150">
            <div class="info p-3">
                <span>John DOE</span>
                <span>John DOE</span>
                <p class="firends">
                    <span>Followers: 10.1k</span>
                    <span>Followings: 799</span>
                    <span>Followings: 9.44k</span>
                </p>
            </div>
        </div>
        <div class="col-md-6 buttons-info">
            <button class="btn btn-primary">
                <span class="material-icons">check_circle</span>
                Friend
            </button>
            <button class="btn btn-primary">Edit Profile</button>
            <button class="btn btn-primary">Edit Profile</button>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            I am here
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-12">
            <a class="btn btn-danger" routerLink="/">Go back</a>
        </div>
    </div>
</div>
