/* You can add global styles to this file, and also import other style files */
$lightBlue: #B8DAFF;
$danger: #F44336;
$primaryColor: #005CBB;
$background: #DEF3FF;

$side: #2388FF;
$textSuccess: #0A3622;
$bgSuccess: #D1E7DD;
$borderSuccess: #A3CFBB;
$textInfo: #055160;
$bgInfo: #CFF4FC;
$borderInfo: #9EEAF9;
$textWarning: #664D03;
$bgWarning: #fff3cd;
$borderWarning: #FFE69C;
$textDanger: #58151C;
$bgDanger: #F8D7DA;
$borderDanger: #F1AEB5;
$textPrimary: #052C65;
$bgPrimary: #CFE2FF;
$borderPrimary: #9EC5FE;
$dark: rgb(33,37,41);
$white: #fefefe;

nav.navbar {
    z-index: 1;
}

.profile {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

    .profile-name {
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: end;
        flex-direction: column;

        .name {
            color: $white;
        }
    }

    .status {
        font-size: 11px;
        color: $borderSuccess !important;
    }
}

.dropdown-menu {
    background-color: $background;

    span {
        color: $lightBlue;
    }

    .dropdown-item {
        color: $primaryColor;
    }

    a:hover {
        cursor: pointer;
        background: transparent !important;
        color: $side;
    }
}
